Binaries/
Projects/
*~
log.txt
build.zip
*.secret
*.userprefs
# for buildserver
sites/buildserver/build_files/
sites/buildserver/static/*/build/*
sites/buildserver/static/*/build/LuaServer2.zip
sites/kateadams.eu/

# Sessions
sessions/*

# Documentation build files
docs/*.aux
docs/*.log
docs/*.pdf
docs/*.toc
docs/*.fdb_latexmk

