Binaries/
Projects/
*~
log.txt
build.zip
*.secret
*.userprefs
# for buildserver
sites/buildserver/build_files/
sites/buildserver/static/*/build/*
sites/buildserver/static/*/build/LuaServer2.zip

# LaTeX:
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

sessions/
